<template name="navbar">

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}"><i class="fa fa-coffee fa-lg"></i></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{pathFor 'home'}}"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="{{pathFor 'add_coffee'}}"><i class="fa fa-plus"></i> Add a coffee</a>
                    </li>
                    <li>
                        <a href="{{pathFor 'list_coffees'}}"><i class="fa fa-list"></i> View all coffees</a>
                    </li>
                    <li>
                        <a href="{{pathFor 'map'}}"><i class="fa fa-info-circle"></i> Locations</a>
                    </li>
                    <li>
                        <a href="{{pathFor 'contact'}}"><i class="fa fa-comment"></i> Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>{{> loginButtons}}</li>
                    {{# if currentUser}}
                        {{currentUser.registered_emails.address}}
                    <img src="{{currentUser.services.google.picture}}" class="img-circle">

                    {{else}}
                        <img src="../images/blankprofile.png" class="img-circle">
                    {{/if}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


</template>